@font-face {
          src: local(knowledge-medium.woff.ttf) format('ttf');
        font-family: 'knowledge-medium';
}
p4{
  font-family: 'knowledge-medium';
  font-size: 300px;
  font-weight: bold;
}
p{
  font-family: 'knowledge-medium';
  font-size: 20px;
}
p1{
  font-size: 20px;
  font-weight: bold;
}


@media screen and (max-width: 480px) {
  p4{
    font-size: 20px;
  }
p{
  font-size: 10px;
}
p1{
  font-size: 11px;
}
}
