@font-face {
          src: local(knowledge-medium.woff.ttf) format('ttf');
        font-family: 'knowledge-medium';
}
h1{
  font-family: 'knowledge-medium';
  font-size: 300px;
}
p{
  font-family: 'knowledge-medium';
  font-size: 20px;
}
p1{
  font-size: 20px;
  font-weight: bold;
}
